

<section class="images">
  <div class="row">
    
    <div class="row">
        <div class="col s12 m8 l9">
          <img src="./assets/images/1.webp" alt="Imagen de un viaje en coche">
        </div>
        <div class="col s12 m4 l3 ">
          <h3>Descubre UrbanNav</h3>
          <p>Tu compañero de viajes perfecto. Sumérgete en la emoción de explorar nuevos destinos y experimenta la incomparable comodidad de viajar de un lugar a otro con la eficiencia que solo UrbanNavn puede ofrecer. Con nuestra aplicación, cada trayecto se convierte en una oportunidad para descubrir la riqueza cultural, la diversidad paisajística y las maravillas ocultas que el mundo tiene para ofrecer.
            </p>
        </div>
      
    </div>
    <div class="hero-container">
      <div class="hero-text">
        <div class="slogan">UrbanNav: Navegando tu Ciudad, Conduciendo tus Aventuras.</div>
        <a href="#" class="cta-button">Descubre Más</a>
      </div>
    </div>
    <div class="row">
      <h3 class="center-align " style="padding: 40px;">Paisajes en tu camino</h3>
      <div class="col s12 m4 l5">
        
        <p style="padding-top: 80px;" class="center-align">Embárcate en un viaje lleno de asombro y descubrimientos con UrbanNavn. Deléitate con paisajes sorprendentes que se despliegan ante tus ojos mientras te sumerges en la experiencia de viajar con nosotros. Cada trayecto se convierte en una emocionante oportunidad para explorar nuevos horizontes, desde majestuosas montañas hasta exuberantes valles, cada rincón es una invitación a la maravilla.</p>
      </div>
      <div class="col s12 m8 l4">
        <img src="./assets/images/2.webp" alt="Imagen de un viaje en coche" width="797">
      </div>
    </div>


    <div class="row" style="padding: 35px;">
      <div class="col s12 m8 l9">
        <img src="./assets/images/3.webp" alt="Imagen de un viaje en coche">
      </div>
      <div class="col s12 m4 l3 ">
        <h3>Destinos relajantes</h3>
        <p>Embarca en una odisea de descubrimientos relajantes con UrbanNavn. Sumérgete en la serenidad de destinos idílicos y
           permite que cada viaje se convierta en una experiencia de rejuvenecimiento para el alma. Con UrbanNavn, la promesa de
            destinos relajantes se transforma en una realidad tangible, donde cada paso que das se convierte en una oportunidad
             para desconectar del ajetreo diario y sumergirte en un mundo de calma y belleza.</p>

      </div>
  </div>
  </div>
  
</section>

<section class="text" style="padding-bottom: 90px;">
  <h2 class="h3 mb-3">Viaja con facilidad gracias a UrbanNavn</h2>
  <p>UrbanNavn es la aplicación que te permite explorar el mundo de manera sencilla. Estos son algunos de nuestros Conductores.</p>
  
</section>

<div class="row">
  <div *ngFor="let item of listaRegistros" class="col s3">
    <div class="card">
      <div class="card-image">
        <img src="{{ item.driverPhoto }}" />
        <span class="card-title">{{ item.available ? "Disponible" : "" }}</span>
      </div>
      <div class="card-content">
        <p>
          <b>{{ item.name }} {{ item.lastname }}</b>
        </p>
        <p>{{ item.phone }}</p>
        <p>{{ item.email }}</p>
        <br />
        <p>{{ item.driverComment }}</p>
      </div>
      <div class="card-action">
        <!-- <a href="#">This is a link</a> -->
      </div>
    </div>
  </div>
</div>


